In [ ]:
import pandas as pd
data=pd.read_csv('Salary_Data_SLR.csv')

In [ ]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [ ]:
X=data.iloc[:,0].values

In [ ]:
X

array([ 1.1,  1.3,  1.5,  2. ,  2.2,  2.9,  3. ,  3.2,  3.2,  3.7,  3.9,
        4. ,  4. ,  4.1,  4.5,  4.9,  5.1,  5.3,  5.9,  6. ,  6.8,  7.1,
        7.9,  8.2,  8.7,  9. ,  9.5,  9.6, 10.3, 10.5])

In [ ]:
X=X.reshape(-1,1)

In [ ]:
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [ ]:
Y=data.iloc[:,1].values

In [ ]:
Y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
X_train

array([[ 4.1],
       [ 3.2],
       [ 5.3],
       [ 6.8],
       [ 7.1],
       [ 9.5],
       [ 3.7],
       [ 5.1],
       [ 9.6],
       [ 3.9],
       [10.3],
       [ 8.7],
       [ 7.9],
       [ 4. ],
       [ 1.1],
       [ 8.2],
       [ 9. ],
       [ 5.9],
       [ 2.9],
       [ 1.3],
       [ 6. ],
       [ 4. ],
       [10.5],
       [ 2. ]])

In [ ]:
X_test

array([[2.2],
       [3.2],
       [4.5],
       [4.9],
       [1.5],
       [3. ]])

In [ ]:
Y_train

array([ 57081.,  64445.,  83088.,  91738.,  98273., 116969.,  57189.,
        66029., 112635.,  63218., 122391., 109431., 101302.,  55794.,
        39343., 113812., 105582.,  81363.,  56642.,  46205.,  93940.,
        56957., 121872.,  43525.])

In [ ]:
Y_test

array([39891., 54445., 61111., 67938., 37731., 60150.])

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [ ]:
Y_pred=lr.predict(X_test)

In [ ]:
Y_pred

array([47900.83191354, 57170.06483536, 69220.06763373, 72927.76080246,
       41412.36886827, 55316.218251  ])

In [ ]:
lr.predict([[3]])

array([55316.218251])

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(Y_pred,Y_test))

0.7275660005050302